<h1>Editing test thing</h1>

<%= render "form", test_thing: @test_thing %>

<br>

<div>
  <%= link_to "Show this test thing", @test_thing %> |
  <%= link_to "Back to test things", test_things_path %>
</div>
